{% extends "base.html" %}

{% block title %}Intercon N Precon{% endblock %}

{% block page_title %}Intercon N Precon{% endblock %}

{% block content %}

    <p>This is the home-away-from-home of <a href="http://interactiveliterature.org/N/">Intercon N</a>'s <a href="http://interactiveliterature.org/N/Thursday.php">Preconvention</a> program (Precon for short).</p>

    <p>Perhaps you are looking for the <a href="{%url 'schedule'%}">schedule grid</a> or the <a href="{%url 'panel_list'%}">list of panels</a>?</p>

    <p>This site was written in a great hurry by Kevin Riggle.  It uses Django and Twitter Bootstrap, like half of everything else on the Internet.</p>
    
    <p>Please e-mail him at <a href="mailto:precon@intercon-n.org">precon@intercon-n.org</a> if you encounter any issues.</p>


{% endblock %}
