{% extends "base.html" %}

{% block title %}Precon Panelists{% endblock %}

{% block extra_css %}
<style>
    li.overmax {
        background-color: #faa;
    }
    li.overlap {
        color: #f33;
    }
    li.not-available {
        background-color: #000;
        color: #fff;
    }
    li.maybe-available {
        background-color: #ccc;
    }
    li.not-available.overlap {
        background-color: #000;
        color: #f33;
    }
</style>
{% endblock %}

{% block page_title %}Precon Panelists{% endblock %}

{% block content %}

<ul>
<li><b>Key:</b>
<ul>
<li class="">Available</li>
<li class="not-available">Not Available</li>
<li class="maybe-available">Maybe Available</li>
<li class="overlap">Overlap</li>
<li class="overlap not-available">Overlap &amp; Not Available</li>
<li class="overlap maybe-available">Overlap &amp; Maybe Available</li>
<li class="overmax">Over Max Panels</li>
</ul>
</li>
</ul>

<hr />

<ul>
{% for panelist in panelists %}
    {% with count_panels=panelist.panels.count max_panels=panelist.participant.max_panels_as_int %}
    <li class="{% if count_panels > max_panels %}overmax{% endif %}">{{panelist}} ({{count_panels}}/{{max_panels}}):
        <ul>
            {% for slot, panels in panelist.panels_by_slot %}
                {% for panel in panels %}
                    <li class="
                    {% if panels.count > 1 %}
                        overlap
                    {% endif %}
                    {% if slot not in panelist.participant.slots_maybe.all and slot not in panelist.participant.slots_available.all %}
                        not-available
                    {% elif slot in panelist.participant.slots_maybe.all and slot not in panelist.participant.slots_available.all %}
                        maybe-available
                    {% endif %}
                    ">
                    {{slot}} - {{panel.name}}
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
    </li>
    {% endwith %}
{% endfor %}
</ul>

{% endblock %}
