{% extends "base.html" %}

{% block title %}Precon Panels{% endblock %}

{% block extra_css %}
    <style>
       div.section {
        background-color: #eee;
        padding: 1em;
        max-width: 44em;
        margin: 2em 0em;
       }
       div:target {
        background-color: #ffa;
       }
       blockquote {
        border-left: 5px solid #ccc;
       }
       a.back {
        font-size: 85%;
       }
    </style>
{% endblock %}

{% block page_title %}Precon Panels{% endblock %}

{% block content %}

{% for panel in panels %}

    <div class="section" id="{{panel.anchor}}">
        <h3>{{panel.type}}: {{panel.name}}</h3>
        <p>{{panel.room}} - {{panel.slot}}</p>
        <p>{{panel.presenter_type}}{{panel.panelists.all|pluralize}}: {{ panel.panelists.all | join:",  "}}</p>
        <blockquote>{{panel.blurb}}</blockquote>
        <a class="back" href="{% url 'schedule' %}">← back to schedule grid</a>
    </div>

{% endfor %}

{% endblock %}
