{% extends "base.html" %}

{% block title %}Precon Presenting Dashboard{% endblock %}

{% block page_title %}Precon Presenting Dashboard{% endblock %}

{% block content %}

    <h2>Presenting Comments</h2>
    <ul>
    {% for pp in panel_proposals %}
            <li><b>{{pp}}</b>:
            <p><b>Panelists: </b>{{ pp.panelists.all|join:", " }}</p>
            <blockquote>{{pp.blurb}}</blockquote>
            {% if not pp.needs_panelists %}
            <p>Times available:</p>
            <ul>
                {% for slot in slots %}
                    <li>
                    {{slot}}:
                    {% for panelist in pp.panelists.all %}
                        {% if slot in panelist.participant.slots_available.all %}
                            {{panelist}},
                        {% elif slot in panelist.participant.slots_maybe.all %}
                            {{panelist}} (Maybe),
                        {%endif %}
                    {% endfor %}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if pp.needs_panelists %}
            <ul>
                <li>Suggester: {{pp.responses.presenting_suggesters.count}}
                    ({% for suggester in pp.responses.presenting_suggesters %}
                        {{suggester.participant}},
                    {% endfor %})
                </li>
                <li>Would like to present: {{pp.responses.presenting_pick_mes.count}}
                    ({% for wouldlike in pp.responses.presenting_pick_mes %}
                        {{wouldlike.participant}},
                    {% endfor %})
                </li>
                <li>Interested: {{pp.responses.presenting_interesteds.count}}
                    ({% for interested in pp.responses.presenting_interesteds %}
                        {{interested.participant}},
                    {% endfor %})
                </li>
                <li>If needed: {{pp.responses.presenting_if_neededs.count}}
                    ({% for if_needed in pp.responses.presenting_if_neededs %}
                        {{if_needed.participant}},
                    {% endfor %})
                </li>
            </ul>
            <ul>
            {% for ppr in pp.responses %}
                {% if ppr.presenting_comments %}
                    <li>From {{ppr.participant}}: <blockquote>{{ppr.presenting_comments}}</blockquote></li>
                {% endif %}
            {% endfor %}
            </ul>
            {% endif %}
            </li>
    {% endfor %}
    </ul>

{% endblock %}
