{% extends "base.html" %}

{% block title %}Precon Survey: {{ participant.name }}{% endblock %}

{% block page_title %}Precon Survey: {{ participant.name }}{% endblock %}

{% block extra_css %}
   <style>
   textarea {
    height: 4em;
    width: 40em;
   }
   label.required {
    font-weight: bold;
   }
   </style>
{% endblock %}

{% block content %}

    <form class="record-responses" enctype="multipart/form-data" action="{% url 'record_responses' nonce=participant.nonce %}" method="post">
        {% csrf_token %}

        <p>Fields in <b>bold</b> are required.</p>

        <hr />

        {% include "precon/format_form_snippet.html" with form=participant_form %}

        <hr />

        {% for pp, form in pps_forms %}
            <h3>{{pp}}</h3>
            {% if pp.panelists.all %}
                <p><b>Presenters: {{pp.panelists.all|join:", "}}{% if pp.needs_panelists %} <i>(and you?)</i>{% endif %}</b></p>
            {% else %}
                <p><b>Presenters: <i>(your name here?)</i></b></p>
            {% endif %}
            <blockquote>{{ pp.blurb }}</blockquote>
            {% if not pp.needs_panelists %}
                <p><i>(This {{pp.type|lower}} has enough presenters already.)</i></p>
            {% endif %}
            {% include "precon/format_form_snippet.html" with form=form %}
        {% endfor %}
        <p class="submit-next">
            <input class="submitbutton" type="submit" value="Done!" />
        </p>
    </form>

{% endblock %}
