{% extends "base.html" %}

{% block title %}Precon Survey{% endblock %}

{% block page_title %}Precon Survey{% endblock %}

{% block content %}

    <p>
    The purpose of this survey is threefold:
    <ul>
    <li>Gauging interest in panel proposals
    <li>Calling for panelist volunteers
    <li>Collecting scheduling information from panelists and potential panelists
    </ul>
    </p>

    <p><b>The deadline for responding is Friday, February 7, 2014.</b>
    
    <p>We will have a schedule up and distributed shortly after that.

    <p>Please e-mail Kevin Riggle at <a href="mailto:precon@intercon-n.org">precon@intercon-n.org</a> if you have any questions or encounter any technical issues.

    <hr />

    <form class="create-participant" enctype="multipart/form-data" action="{% url 'create_participant' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p class="submit-next">
            <input class="submitbutton" type="submit" value="Let's get started!" />
        </p>
        <!--<p><i>Want to go back and modify something, but forgot to save your link?  E-mail <a href="mailto:precon@intercon-n.org">precon@intercon-n.org</a>.</i></p>-->
    </form>

{% endblock %}
