{% extends "base.html" %}

{% block title %}Precon Survey{% endblock %}

{% block page_title %}Precon Survey{% endblock %}

{% block content %}

    <form class="create-participant" enctype="multipart/form-data" action="{% url 'create_participant' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p class="submit-next">
            <input class="submitbutton" type="submit" value="Let's get started!" />
        </p>
        <!--<p><i>Want to go back and modify something, but forgot to save your link?  E-mail <a href="mailto:precon@intercon-n.org">precon@intercon-n.org</a>.</i></p>-->
    </form>

{% endblock %}
