{% extends "base.html" %}

{% block title %}Completed Precon Survey: {{ participant.name }}{% endblock %}

{% block page_title %}Completed Precon Survey: {{ participant.name }}{% endblock %}

{% block content %}

    <p>You're done!  Thanks for contributing! <!-- Remember that you can always come back to <a href="http://precon.free-dissociation.com/{{participant.nonce}}/">http://precon.free-dissociation.com/{{participant.nonce}}/</a> to update your answers, so save that link! -->

    <p>Please e-mail Kevin Riggle at <a href="mailto:precon@intercon-n.org">precon@intercon-n.org</a> if you have any questions or encounter any technical issues.

{% endblock %}
